.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
}

.logo{
    width: 100px;
}

.nav-items > ul{
    display: flex;
    margin-top: 30px;
}

.nav-items > ul > li{
    padding: 10px;
    list-style-type: none;
}

.filter {
    margin: 10px 0px;
    display: flex;
}

.res-logo{
    width: 100%
}

.res-card{
    padding: 5px;
    width: 150px;
    background-color: darkgrey;
    margin: 5px;
}

.res-card:hover{
    border: 1px solid black;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-conatiner{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    height: 300px;
    width: 150px;
    background-color: #f0f0f0;
    margin: 15px;
}

.login-btn{
    height: 35px;
    margin-right: 10px;
    background-color: lightseagreen;
    border: 0px solid lightseagreen;
    border-radius: 8px;
}